<div>
   <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container-fluid">
         <a class="navbar-brand" href="#">Navbar</a>
      </div>
   </nav>
</div>

<!-- <div class="sidenav">
 <div>
    <h4>My Menu</h4>
    <a routerLink="mymenu/mytask"><i-feather name="user"></i-feather> My Task</a>
    <a routerLink="mymenu/teamtask"><i-feather name="users"></i-feather> Team Task</a>
 </div>
 <div>
    <h4>My Organization</h4>
    <a routerLink="myorganization/solutionarea"><i-feather name="flag"></i-feather> Solution Area</a>
    <a routerLink="myorganization/process"><i-feather name="clock"></i-feather> Process</a>
    <a routerLink="myorganization/workflows"><i-feather name="activity"></i-feather> Workflows</a>
    <a routerLink="myorganization/humantask"><i-feather name="check-circle"></i-feather> Human Task</a>
    <a routerLink="myorganization/workflowsexecution">	<i-feather name="loader"></i-feather> Workflows Execution</a>
    <a routerLink="myorganization/schedulelist"><i-feather name="menu"></i-feather> Schedule List</a>
 </div>
 <div>
    <h4>Designer</h4>
    <a routerLink="designer/workflowbuilder">Workflow Builder</a>
    <a routerLink="designer/formbuilder">Form Builder</a>
   
 </div> 
 <div>
    <h4>Settings</h4>
    <a routerLink="settings/customtask">Custom Task</a>
    <a routerLink="settings/organizationsettings">Organization Settings</a>
 </div>
</div> -->

<div class="container-fluid">
   <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light min-vh-100">
         <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2">
            <h4>My Menu</h4>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
               <li class="nav-item">
                  <a routerLink="mymenu/mytask" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="user"></i-feather> My Task</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="mymenu/teamtask" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="users"></i-feather> Team Task</span>
                  </a>
               </li>
            </ul>

            <h4>My Organization</h4>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
               <li class="nav-item">
                  <a routerLink="myorganization/solutionarea" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="flag"></i-feather> Solution Area</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="myorganization/process" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="clock"></i-feather> Process</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="myorganization/workflows" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="activity"></i-feather> Workflows</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="myorganization/humantask" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="check-circle"></i-feather> Human Task</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="myorganization/workflowsexecution" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="loader"></i-feather> Workflows Execution</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="myorganization/schedulelist" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="menu"></i-feather> Schedule List</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="myorganization/organization" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="loader"></i-feather> Organization</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="myorganization/contact" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="loader"></i-feather> Contact</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="myorganization/product" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="loader"></i-feather> Product</span>
                  </a>
               </li>
            </ul>

            <h4>Designer</h4>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
               <li class="nav-item">
                  <a routerLink="designer/workflowbuilder" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="user"></i-feather>Workflow Builder</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="designer/formbuilder" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="users"></i-feather>Form Builder</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="designer/charts" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="bar-chart-2"></i-feather>Charts</span>
                  </a>
               </li>
            </ul>

            <h4>Settings</h4>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
               <li class="nav-item">
                  <a routerLink="settings/customtask" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="user"></i-feather>Custom Task</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a routerLink="settings/organizationsettings" class="nav-link align-middle px-0 black-color">
                     <span class="ms-1 d-none d-sm-inline"><i-feather name="users"></i-feather>Organization Settings</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
      <div class="col">
         <!-- <h3>Left Sidebar with Submenus</h3>
           <p class="lead">
               An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only a single 
               menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in width on smaller screens.</p>
           <ul class="list-unstyled">
               <li><h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile</li>
           </ul> -->
         <router-outlet></router-outlet>
      </div>
   </div>
</div>