<!-- <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a class="nav-link active" routerLink="mymenu/mytask">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
    </li>
</ul> -->
<app-taskbar></app-taskbar>

<div class="d-flex justify-content-around pt-2">
  <div class="card" style="width: 350px">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h6 class="card-title text-secondary">Assigned to me</h6>
        <p class="fs-4 text-secondary">1</p>
      </div>
      <div>
        <svg class="icon"
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          fill="currentColor"
          class="bi bi-person-circle text-secondary"
          viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path
            fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>
      </div>
    </div>
  </div>
  <div class="card" style="width: 350px">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h6 class="card-title text-secondary">In queue</h6>
        <p class="fs-4 text-secondary">55</p>
      </div>
      <div>
        <svg class="icon"
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          fill="currentColor"
          class="bi bi-list-ul text-secondary"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2m0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="card" style="width: 350px">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h6 class="card-title text-secondary">Over due</h6>
        <p class="fs-4 text-secondary">56</p>
      </div>
      <div>
        <svg class="icon"
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          fill="currentColor"
          class="bi bi-exclamation-triangle text-secondary"
          viewBox="0 0 16 16"
        >
          <path
            d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"
          />
          <path
            d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="card" style="width: 350px">
    <div class="card-body d-flex justify-content-between">
      <div>
        <h6 class="card-title text-secondary">Priority</h6>
        <p class="fs-4 text-secondary">46</p>
      </div>
      <div>
        <svg class="icon"
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          fill="currentColor"
          class="bi bi-star text-secondary"
          viewBox="0 0 16 16"
        >
          <path
            d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
<hr />
<div class="d-flex justify-content-between">
  <h5>Task List Data</h5>
  <button class="btn btn-primary" type="button">
    <svg
      (click)="toggleCard()"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      class="main-grid-item-icon"
      fill="none"
      stroke="currentColor"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
    >
      <circle cx="12" cy="12" r="10" />
      <line x1="12" x2="12" y1="8" y2="16" />
      <line x1="8" x2="16" y1="12" y2="12" />
    </svg>
  </button>
</div>

<div [ngClass]="showCard ? 'row' : ''">
  <div [ngClass]="showCard ? 'col-lg-9' : ''">
    <app-ag-grid-angular [rowData]="rowData" [columnDefs]="colDefs" [gridOption]="gridOption"  ></app-ag-grid-angular>
  </div>
  <div [ngClass]="showCard ? 'col-lg-3' : 'hide'">
    <form [formGroup]="taskForm">
      <div class="mb-3 mt-3">
        <label for="email">ID:</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter ID"
          formControlName="id"
        />
        <mat-error
          *ngIf="
            taskForm.get('id')?.hasError('required') &&
            taskForm.get('id')?.touched
          "
          >ID is required</mat-error
        >
      </div>
      <div class="mb-3">
        <label for="pwd">Solution Area:</label>
        <input
          type="text"
          class="form-control"
          id="pwd"
          placeholder="Enter Solution Area"
          formControlName="solution_area"
        />
        <mat-error
          *ngIf="
            taskForm.get('solution_area')?.hasError('required') &&
            taskForm.get('solution_area')?.touched
          "
          >Solution area is required</mat-error
        >
      </div>
      <div class="mb-3">
        <label for="pwd">Workflow:</label>
        <input
          type="text"
          class="form-control"
          id="pwd"
          placeholder="Enter workflow"
          formControlName="workflow"
        />
        <mat-error
          *ngIf="
            taskForm.get('workflow')?.hasError('required') &&
            taskForm.get('workflow')?.touched
          "
          >Workflow is required</mat-error
        >
      </div>
      <div class="mb-3">
        <label for="pwd">Task ID:</label>
        <input
          type="text"
          class="form-control"
          id="pwd"
          placeholder="Enter Task ID"
          formControlName="taskId"

        />
        <mat-error
          *ngIf="
            taskForm.get('taskId')?.hasError('required') &&
            taskForm.get('taskId')?.touched
          "
          >Task ID is required</mat-error
        >
        <mat-error *ngIf="taskForm.get('taskId')?.hasError('pattern')"
          >Task ID must contain only numbers</mat-error
        >
      </div>
      <div class="mb-3">
        <label for="pwd">Task:</label>
        <input
          type="text"
          class="form-control"
          id="pwd"
          placeholder="Enter Task"
          formControlName="task"
        />
        <mat-error
          *ngIf="
            taskForm.get('task')?.hasError('required') &&
            taskForm.get('task')?.touched
          "
          >Task is required</mat-error
        >
      </div>
      <div class="mb-3">
        <label for="pwd">Status:</label>
        <input
          type="text"
          class="form-control"
          id="pwd"
          placeholder="Enter Status"
          formControlName="status"
        />
        <mat-error
          *ngIf="
            taskForm.get('status')?.hasError('required') &&
            taskForm.get('status')?.touched
          "
          >Status is required</mat-error
        >
      </div>
      <div class="mb-3">
        <label for="pwd">Start Date:</label>
        <input
          type="date"
          class="form-control"
          id="pwd"
          placeholder="Enter Start Date"
          formControlName="start_date"
        />
        <mat-error
          *ngIf="
            taskForm.get('start_date')?.hasError('required') &&
            taskForm.get('start_date')?.touched
          "
          >Start date is required</mat-error
        >
      </div>
      <div class="mb-3">
        <label for="pwd">Due Date:</label>
        <input
          type="date"
          class="form-control"
          id="pwd"
          placeholder="Enter Due Date"
          formControlName="due_date"
        />
        <mat-error
          *ngIf="
            taskForm.get('due_date')?.hasError('required') &&
            taskForm.get('due_date')?.touched
          "
          >Due date is required</mat-error
        >
      </div>
      <div class="mb-3">
        <label for="pwd">Priority:</label>
        <input
          type="text"
          class="form-control"
          id="pwd"
          placeholder="Enter Priority"
          formControlName="priority"
        />
        <mat-error
          *ngIf="
            taskForm.get('priority')?.hasError('required') &&
            taskForm.get('priority')?.touched
          "
          >Priority is required</mat-error
        >
      </div>
      <button type="submit" class="btn btn-primary mx-2" (click)="onSubmit()">
        Submit
      </button>
      <button type="submit" class="btn btn-primary mx-2 mx-2" (click)="clear()">
        Clear
      </button>
      <button type="submit" class="btn btn-primary mx-2 mx-2" (click)="close()">
        Cancel
      </button>
    </form>
  </div>
</div>
